:host * {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
:host h1{
    font-size: 6rem;
}