:host *{
    background-color: rgb(29, 29, 29);
    color: rgb(190, 190, 190);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid rgb(48, 235, 57);
    font-size: 0.95rem;
}