@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form {
  margin: 20px;
  display: flex;
  padding: 60px;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  background: linear-gradient(135deg, #030407, #03001b, #0b0f18, #0e1630, #0b0250, #1d2d50, #252d46, #0a0342, #141d31);
  background-size: 400% 400%;
  animation: gradiente 10s ease infinite;
}
form input {
    margin-bottom: 20px;
    height: 50px;
    border-radius: 20px;
    border: groove;
}

form button {
    border: groove;
    border-radius: 10px;
    height: 50px;
}

#alerta {
    padding: 10px;
    text-align: center;
    background-color: rgb(8, 1, 51);
    border: black 2px groove;
    color: red;
    align-self: center;
    margin-bottom: 10px;
    border-radius: 10px;

}

h3 {
    color: rgb(233, 227, 255);
    font-size: 2.2rem;
    align-self: center;
    margin-bottom: 30px;
}