button{
    border-radius: 10px;
    transition: all 1s;
    margin: 5px;
}
button:hover{
    cursor: pointer;
    scale: 1.05;
}
.habilitado{
    border: 2px solid green;
    transition:border 1s;
    transition: background,scale 1s;
}
.nao-habilitado{
    color:rgb(172, 151, 151);
    border: 2px solid red;
    transition: 0.5s;
}
.habilitado:hover{
    background-color: rgb(191, 255, 179);
    scale: 1.05;
    transition: scale;
    transition: background,scale, 1s;
}
.imagem{
    width: 4rem;
}
#imagem_atividade_10{
    width: 6rem;
}
#contador{
    display: flex;
    padding: 5px;
    align-content: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    transition: all 0.5s;
}
#contador:hover{
    cursor: pointer;
}
#inclementar{
    display: flex;
    justify-self: center;
    align-self: center;
}
.contador{
    display: flex;
    flex-direction: line;
}