<nav>
<a routerLink="/home" routerLinkActive="pagina-ativa">Home</a>
<a routerLink="/contatos" routerLinkActive="pagina-ativa">Contatos</a>
<a routerLink="/eventos" routerLinkActive="pagina-ativa">Eventos</a>
<a routerLink="/usuarios" routerLinkActive="pagina-ativa">Usuarios</a>
<a routerLink="/marketplace" routerLinkActive="pagina-ativa">Marketplace</a>
<a routerLink="/MediaAlunos" routerLinkActive="pagina-ativa">Media Alunos</a>
<a routerLink="/Login" routerLinkActive="pagina-ativa">Login</a>
<a routerLink="/formularioPost" routerLinkActive="pagina-ativa">Formulário de Post</a>
<a routerLink="/PutRequest" routerLinkActive="pagina-ativa">Formulário de Put</a>
<a routerLink="/deletando" routerLinkActive="pagina-ativa">deletando</a>
</nav>