<form (submit)="cadastrar($event)">
    <input type="email" [formField]="login.email" placeholder="E-mail">
    <input type="password" [formField]="login.senha" placeholder="senha">
    <button type="submit">cadastrar</button>

</form>
@if (clicado()) {
    @if (logado()) {
        <div>
            <h3>Usuario logado</h3>
        </div>
        <img src="https://conteudo.imguol.com.br/3f/2020/11/17/kid-bengala-via-instagram-1605617856164_v2_4x3.jpg" alt="">
    }
    @else {
        <div>
        <h3>Erro no login</h3>
        </div>
    }
}