<form (submit)="submitPut($event)">
    <h3>Put</h3>

    <input type="number" placeholder="Digite o ID para atualizar" [formField]="putForm.id">
    @if (putForm.id().touched() && putForm.id().invalid()) {
    @for (error of putForm.userId().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }


    <input type="number" placeholder="Digite o UserID para atualizar" [formField]="putForm.userId">
    @if (putForm.userId().touched() && putForm.userId().invalid()) {
    @for (error of putForm.userId().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }


    <input type="text" placeholder="Digite o título do post" [formField]="putForm.title">
    @if (putForm.title().touched() && putForm.title().invalid()) {
    @for (error of putForm.title().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }

    <input type="text" placeholder="Digite o conteúdo do post" [formField]="putForm.body">
    @if (putForm.body().touched() && putForm.body().invalid()) {
    @for (error of putForm.body().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }

    <button>Enviar Post</button>
</form>