:host {
    display: flex;
}


@media (min-width: 600px) {
  :host #menu_lateral{
    flex-direction: column;
    width: 10vw;
    height: 100vh;
  }
  :host #menu_lateral nav{
    height: 500px;
  }
  :host #conteudo-principal{
    width: 90vw;
    height: 100vh;
  }
  :host #menu_lateral{
    min-height: 400px;
  }
}
@media (max-width:600px){
    :host{
        flex-direction: column;
    }
    :host #menu_lateral{
        width: 100vw;

    }
    :host #conteudo-principal{
        width: 100vw;
        height: 100vh;
    }
}