.usuarios{
    background-color: black;
    color: white;
    margin-top: 10px;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.6rem

}
#cards{
    margin-left: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}
.formularioCadastro{
    justify-self: center;
    margin-bottom: 50px;
    margin-top: 20px;
}