<form (submit)="submitPost($event)">
    <h3>Post</h3>
    <input type="number" placeholder="Digite o ID" [formField]="postForm.userId">
    @if (postForm.userId().touched() && postForm.userId().invalid()) {
    @for (error of postForm.userId().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }

    <input type="text" placeholder="Digite o título do post" [formField]="postForm.title">
    @if (postForm.title().touched() && postForm.title().invalid()) {
    @for (error of postForm.title().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }

    <input type="text" placeholder="Digite o conteúdo do post" [formField]="postForm.body">
    @if (postForm.body().touched() && postForm.body().invalid()) {
    @for (error of postForm.body().errors(); track error.kind) {
    <p id="alerta">{{error.message}}</p>
    }
    }

    <button>Enviar Post</button>
</form>